<div class="banners">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="banner flexwrap">
                    <div class="row">
                        <div class="item">
                            <div class="image">
                                <img src="/assets/img/banner/banner1.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>Brutal Sales</h3>
                                <h4><span>Get the deal in here</span><br> Living Room Chair</h4>
                                <a href="#" class="primary-button">Shop Now</a>
                            </div>
                            <a href="#" class="over-link"></a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="/assets/img/banner/banner2.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Brutal Sales</h4>
                                <h3><span>Get the deal in here</span><br> Living Room Chair</h3>
                                <a href="#" class="primary-button">Shop Now</a>
                            </div>
                            <a href="#" class="over-link"></a>
                        </div>
                    </div>
                    <!-- banner -->
                    <div class="product-categories flexwrap">
                        <div class="row">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/img/banner/procat1.jpg" alt="">
                                </div>
                                <div class="content mini-links">
                                    <h4>Beauty</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                    </ul>
                                    <div class="second-links">
                                        <a href="" class="view-all">View all
                                            <i class="ri-arrow-right-line"></i>
                                        </a>
                                    </div>
                                </div>                                         
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/img/banner/procat3.jpg" alt="">
                                </div>
                                <div class="content mini-links">
                                    <h4>Beauty</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                    </ul>
                                    <div class="second-links">
                                        <a href="" class="view-all">View all
                                            <i class="ri-arrow-right-line"></i>
                                        </a>
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/img/banner/procat2.jpg" alt="">
                                </div>
                                <div class="content mini-links">
                                    <h4>Beauty</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                    </ul>
                                    <div class="second-links">
                                        <a href="" class="view-all">View all
                                            <i class="ri-arrow-right-line"></i>
                                        </a>
                                    </div>
                                </div>                                           
                            </div>
                        </div>                                                   
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div> 