<div id="page" class="site page-home">
    <app-header></app-header>

            <!-- main -->
            <main>
                <app-slider></app-slider>
                <!-- slider -->

                <app-brand></app-brand>
                <!-- brand -->

                <app-product-trending></app-product-trending>
                 <!-- trending products -->

                 <app-product-features></app-product-features>
                <!-- features products -->

                <app-banners></app-banners>
                <!-- banner -->

            </main>

    <app-footer></app-footer>

</div>