.cart-overlay {
  position: fixed;
  inset: 0;               
  top:0; right:0; bottom:0; left:0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 1000;
}
.cart-overlay.open {
  opacity: 1;
  pointer-events: all;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -350px;          
  height: 100%;
  background: #fff;
  box-shadow: -4px 0 12px rgba(0,0,0,0.1);
  transition: right .3s;
  z-index: 1001;          
}
.cart-sidebar.open {
  right: 0;
}
