<div id="page" [class]="pageClass">

    <!-- header -->
    <app-header></app-header>

    <!-- main -->
    <main>
		<router-outlet></router-outlet>

        <div class="banners">
            <div class="container">
                <div class="wrapper">
                    <div class="column">
                        <div class="banner flexwrap">
                            <div class="row">
                                <div class="item">
                                    <div class="image">
                                        <img src="/assets/img/banner/banner1.jpg" alt="">
                                    </div>
                                    <div class="text-content flexcol">
                                        <h3>Brutal Sales</h3>
                                        <h4><span>Get the deal in here</span><br> Living Room Chair</h4>
                                        <a href="#" class="primary-button">Shop Now</a>
                                    </div>
                                    <a href="#" class="over-link"></a>
                                </div>
        
                            </div>
                            <div class="row">
                                <div class="item get-gray">
                                    <div class="image">
                                        <img src="/assets/img/banner/banner2.jpg" alt="">
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Brutal Sales</h4>
                                        <h3><span>Get the deal in here</span><br> Living Room Chair</h3>
                                        <a href="#" class="primary-button">Shop Now</a>
                                    </div>
                                    <a href="#" class="over-link"></a>
                                </div>
                            </div>
                            <!-- banner -->
                            <div class="product-categories flexwrap">
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="/assets/img/banner/procat1.jpg" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Beauty</h4>
                                            <ul class="flexcol">
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                            </ul>
                                            <div class="second-links">
                                                <a href="" class="view-all">View all
                                                    <i class="ri-arrow-right-line"></i>
                                                </a>
                                            </div>
                                        </div>                                         
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="/assets/img/banner/procat3.jpg" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Beauty</h4>
                                            <ul class="flexcol">
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                            </ul>
                                            <div class="second-links">
                                                <a href="" class="view-all">View all
                                                    <i class="ri-arrow-right-line"></i>
                                                </a>
                                            </div>
                                        </div>                                            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="/assets/img/banner/procat2.jpg" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Beauty</h4>
                                            <ul class="flexcol">
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                                <li><a href="#">Makeup</a></li>
                                            </ul>
                                            <div class="second-links">
                                                <a href="" class="view-all">View all
                                                    <i class="ri-arrow-right-line"></i>
                                                </a>
                                            </div>
                                        </div>                                           
                                    </div>
                                </div>                                                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div> 
    </main>

    <!-- footer -->

    <app-footer></app-footer>

    <div class="menu-bottom dektop-hide">
        <div class="container">
            <div class="wrapper">
                <nav>
                    <ul class="flexitem">
                        <li>
                            <a href="#">
                                <i class="ri-bar-chart-line"></i>
                                <span>Trending</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-user-6-line"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-heart-line"></i>
                                <span>Wishlist</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="t-search">
                                <i class="ri-search-line"></i>
                                <span>Search</span>
                            </a>
                        </li>
                        <li (click)="toggleMiniCart()"  *ngIf="cart">
                            <a href="javascript:void(0)">
                              <i class="ri-shopping-cart-line"></i>
                              <span>Cart</span>
                              <div class="fly-item">
                                <span class="item-number">{{ cart.totalQuantity }}</span>
                              </div>
                            </a>
                          </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="search-bottom desktop-hide">
        <div class="container">
            <div class="wrapper">
                <form action="#" class="search">
                    <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                    <span class="icon-large"><i class="ri-search-line"></i></span>
                    <input type="search" placeholder="Search product .." required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay"></div>


</div>

<div class="header-nav">
    <div class="mini-cart"
[class.show]="isMiniCartOpen"
(mouseleave)="closeMiniCart()"  *ngIf="cart">
    <div class="content">
        <div class="cart-head">
            {{ cart.totalQuantity }} items in cart
        </div>
        <div class="cart-body">
            <ul class="products mini">
                <li class="item" *ngFor="let item of cart.cartItems">
                    <div class="thumbnail object-cover">
                        <a href="#"> <img [src]="item.imgUrl" [alt]="item.name"></a>
                    </div>
                    <div class="item-content">
                        <p><a href="#">{{ item.name }}</a></p>
                        <span class="price">
                            <span>${{ item.price }}</span>
                            <span class="fly-item"><span>{{ item.quantity }}x</span></span>                               
                        </span>
                        <div class="item-footer">
                          <span>{{ item.colorName }}</span>
                          <span>{{ item.sizeName }}</span>
                        </div>
                    </div>
                    <a href="#" class="item-remove" (click)="onRemoveItem(item.id, $event)"><i class="ri-close-line" > </i></a>
                </li>
            </ul>
        </div>
        <div class="cart-footer">
            <div class="subtotal">
                <p>Subtotal</p>
                <p><strong>${{ cart.totalPrice }}</strong></p>
            </div>
            <div class="actions">
              <a routerLink="/cart" class="primary-button">View Cart</a>
              <a routerLink="/checkout" class="secondary-button">Checkout</a>
            </div>
        </div>
    </div>
    </div>
</div>

