<div class="slider">
    <div class="container">
        <div class="wrapper">
            <div class="myslider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/assets/img/slider/slider0.jpg" alt="">
                                <div class="text-content flexcol">
                                    <h4>Shoes faction</h4>
                                    <h2><span>Come and Get it </span> <br>Brand new shoes <span></span></h2>
                                    <a href="" class="primary-button">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/assets/img/slider/slider1.jpg" alt="">
                                <div class="text-content flexcol">
                                    <h4>Shoes faction</h4>
                                    <h2><span>Come and Get it </span> <br>Brand new shoes <span></span></h2>
                                    <a href="" class="primary-button">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/assets/img/slider/slider2.jpg" alt="">
                                <div class="text-content flexcol">
                                    <h4>Shoes faction</h4>
                                    <h2><span>Come and Get it </span> <br>Brand new shoes <span></span></h2>
                                    <a href="" class="primary-button">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
<!-- slider -->
<div class="brands">
    <div class="container">
        <div class="wrapper flexitem">
            <div class="item">
                <a href="#">
                    <img src="assets/img/brands/zara.png" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/img/brands/dng.png" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/img/brands/asus.png" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/img/brands/oppo.png" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/img/brands/samsung.png" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/img/brands/hurley.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- brand -->
 <div class="trending">
    <div class="container">
        <div class="wrapper">
            <div class="sectop flexitem">
                <h2><span class="circle"></span><span>Trending Products</span></h2>
            </div>
            <div class="column">
                <div class="flexwrap">
                    <div class="row products big">
                        <div class="item">
                            <div class="offer">
                                <p>Offer ends at</p>
                                <ul class="flexcenter">
                                    <li>1</li>
                                    <li>15</li>
                                    <li>37</li>
                                    <li>60</li>
                                </ul>
                            </div>
                            <div class="media">
                                <div class="image">
                                    <a href="#">
                                        <img src="/assets/img/products/apparel4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="hoverable">
                                    <ul>
                                        <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                        <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                    </ul>
                                </div>
                                <div class="discount circle flexcenter"><span>31%</span></div>
                            </div>
                            <div class="content">
                                <div class="rating">
                                    <div class="stars"></div>
                                    <span class="mini-text">(2.343)</span>
                                </div>
                                <h3 class="main-links"><a href="#">Happy holiday Summer</a></h3>
                                <div class="price">
                                    <span class="current">$123.2</span>
                                    <span class="normal mini-text">$150.32</span>
                                </div>
                                <div class="stock mini-text">
                                    <div class="qty">
                                        <span>Stock: <strong class="qty-available">103</strong></span>
                                        <span>Sold: <strong class="qty-available">10223</strong></span>
                                    </div>
                                    <div class="bar">
                                        <div class="available"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row products mini">
                        <div class="item">
                            <div class="media">
                                <div class="thumbnail object-cover">
                                    <a href="#">
                                        <img src="/assets/img/products/apparel3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="hoverable">
                                    <ul>
                                        <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                        <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                    </ul>
                                </div>
                                <div class="discount circle flexcenter"><span>31%</span></div>
                            </div>
                            <div class="content"> 
                                <h3 class="main-links"><a href="#">Happy holiday Summer</a></h3>
                                <div class="price">
                                    <span class="current">$123.2</span>
                                    <span class="normal mini-text">$150.32</span>
                                </div>
                                <div class="mini-text">
                                    <p>3722 sold</p>
                                    <p>Free Shipping</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="media">
                                <div class="thumbnail object-cover">
                                    <a href="#">
                                        <img src="/assets/img/products/apparel5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="hoverable">
                                    <ul>
                                        <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                        <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                    </ul>
                                </div>
                                <div class="discount circle flexcenter"><span>31%</span></div>
                            </div>
                            <div class="content"> 
                                <h3 class="main-links"><a href="#">Happy holiday Summer</a></h3>
                                <div class="price">
                                    <span class="current">$123.2</span>
                                    <span class="normal mini-text">$150.32</span>
                                </div>
                                <div class="mini-text">
                                    <p>3722 sold</p>
                                    <p>Free Shipping</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row products mini">
                        <div class="item">
                            <div class="media">
                                <div class="thumbnail object-cover">
                                    <a href="#">
                                        <img src="/assets/img/products/shoe1-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="hoverable">
                                    <ul>
                                        <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                        <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                    </ul>
                                </div>
                                <div class="discount circle flexcenter"><span>31%</span></div>
                            </div>
                            <div class="content"> 
                                <h3 class="main-links"><a href="#">Happy holiday Summer</a></h3>
                                <div class="price">
                                    <span class="current">$123.2</span>
                                    <span class="normal mini-text">$150.32</span>
                                </div>
                                <div class="mini-text">
                                    <p>3722 sold</p>
                                    <p>Free Shipping</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="media">
                                <div class="thumbnail object-cover">
                                    <a href="#">
                                        <img src="/assets/img/products/shoe1-3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="hoverable">
                                    <ul>
                                        <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                        <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                    </ul>
                                </div>
                                <div class="discount circle flexcenter"><span>31%</span></div>
                            </div>
                            <div class="content"> 
                                <h3 class="main-links"><a href="#">Happy holiday Summer</a></h3>
                                <div class="price">
                                    <span class="current">$123.2</span>
                                    <span class="normal mini-text">$150.32</span>
                                </div>
                                <div class="mini-text">
                                    <p>3722 sold</p>
                                    <p>Free Shipping</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <!-- trending products -->
  <div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>Featured Products</span></h2>
                    <div class="second-links">
                        <a href="#" class="view-all">View all
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                </div>
                <div class="products main flexwrap">
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="/assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                    <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                    <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>50%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2.343)</span>
                            </div>
                            <h3 ><a href="#">Happy holiday Summer</a></h3>
                            <div class="price">
                                <span class="current">$123.2</span>
                                <span class="normal mini-text">$150.32</span>
                            </div>
                            <div class="footer">
                                <ul class="mini-text">
                                    <li>Polyester, cotton</li>
                                    <li>Polyester, cotton</li>
                                    <li>Polyester, cotton</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="/assets/img/products/apparel2.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                    <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                    <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>50%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2.343)</span>
                            </div>
                            <h3 ><a href="#">Happy holiday Summer</a></h3>
                            <div class="price">
                                <span class="current">$123.2</span>
                                <span class="normal mini-text">$150.32</span>
                            </div>
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="/assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                    <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                    <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>50%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2.343)</span>
                            </div>
                            <h3 ><a href="#">Happy holiday Summer</a></h3>
                            <div class="price">
                                <span class="current">$123.2</span>
                                <span class="normal mini-text">$150.32</span>
                            </div>
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="/assets/img/products/shoe3.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                    <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                    <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>50%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2.343)</span>
                            </div>
                            <h3 ><a href="#">Happy holiday Summer</a></h3>
                            <div class="price">
                                <span class="current">$123.2</span>
                                <span class="normal mini-text">$150.32</span>
                            </div>
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="/assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                    <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                    <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>50%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2.343)</span>
                            </div>
                            <h3 ><a href="#">Happy holiday Summer</a></h3>
                            <div class="price">
                                <span class="current">$123.2</span>
                                <span class="normal mini-text">$150.32</span>
                            </div>
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="/assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                    <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                    <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>50%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2.343)</span>
                            </div>
                            <h3 ><a href="#">Happy holiday Summer</a></h3>
                            <div class="price">
                                <span class="current">$123.2</span>
                                <span class="normal mini-text">$150.32</span>
                            </div>
                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="/assets/img/products/shoe3.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                    <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                    <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter"><span>50%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2.343)</span>
                            </div>
                            <h3 ><a href="#">Happy holiday Summer</a></h3>
                            <div class="price">
                                <span class="current">$123.2</span>
                                <span class="normal mini-text">$150.32</span>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<!-- features products -->
 <div class="banners">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="banner flexwrap">
                    <div class="row">
                        <div class="item">
                            <div class="image">
                                <img src="/assets/img/banner/banner1.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>Brutal Sales</h3>
                                <h4><span>Get the deal in here</span><br> Living Room Chair</h4>
                                <a href="#" class="primary-button">Shop Now</a>
                            </div>
                            <a href="#" class="over-link"></a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="/assets/img/banner/banner2.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Brutal Sales</h4>
                                <h3><span>Get the deal in here</span><br> Living Room Chair</h3>
                                <a href="#" class="primary-button">Shop Now</a>
                            </div>
                            <a href="#" class="over-link"></a>
                        </div>
                    </div>
                    <!-- banner -->
                    <div class="product-categories flexwrap">
                        <div class="row">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/img/banner/procat1.jpg" alt="">
                                </div>
                                <div class="content mini-links">
                                    <h4>Beauty</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                    </ul>
                                    <div class="second-links">
                                        <a href="" class="view-all">View all
                                            <i class="ri-arrow-right-line"></i>
                                        </a>
                                    </div>
                                </div>                                         
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/img/banner/procat3.jpg" alt="">
                                </div>
                                <div class="content mini-links">
                                    <h4>Beauty</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                    </ul>
                                    <div class="second-links">
                                        <a href="" class="view-all">View all
                                            <i class="ri-arrow-right-line"></i>
                                        </a>
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/img/banner/procat2.jpg" alt="">
                                </div>
                                <div class="content mini-links">
                                    <h4>Beauty</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                        <li><a href="#">Makeup</a></li>
                                    </ul>
                                    <div class="second-links">
                                        <a href="" class="view-all">View all
                                            <i class="ri-arrow-right-line"></i>
                                        </a>
                                    </div>
                                </div>                                           
                            </div>
                        </div>                                                   
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div> 