<div id="page" class="site page-home">
  <aside class="site-off desktop-hide">
      <div class="off-canvas">
          <div class="canvas-head flexitem">
              <div class="logo"><a href=""><span class="circle"></span>.Store</a></div>
              <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
          </div>
          <div class="departments"></div>
          <nav></nav>
          <div class="thetop-nav"></div>
      </div>
  </aside>
   

  <!-- header -->
  @if (!isAdminPage) {
    <app-header></app-header>
  }
  
  <router-outlet></router-outlet>
  
  @if (!isAdminPage) {
    <app-footer></app-footer>
  }
  

  <!-- main -->
  <main>
    <router-outlet></router-outlet> 
  </main>

  <!-- footer -->
  <app-footer *ngIf="!isAdminPage"></app-footer>


  <div class="menu-bottom dektop-hide">
      <div class="container">
          <div class="wrapper">
              <nav>
                  <ul class="flexitem">
                      <li>
                          <a href="#">
                              <i class="ri-bar-chart-line"></i>
                              <span>Trending</span>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="ri-user-6-line"></i>
                              <span>Account</span>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="ri-heart-line"></i>
                              <span>Wishlist</span>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="t-search">
                              <i class="ri-search-line"></i>
                              <span>Search</span>
                          </a>
                      </li>
                      <li>
                        <a href="#0" class="cart-trigger">
                            <i class="ri-shopping-cart-line"></i>
                            <span>Cart</span>
                            <div class="fly-item">
                                <span class="item-number">0</span>
                            </div>
                        </a>
                    </li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
  <div class="search-bottom desktop-hide">
      <div class="container">
          <div class="wrapper">
              <form action="#" class="search">
                  <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                  <span class="icon-large"><i class="ri-search-line"></i></span>
                  <input type="search" placeholder="Search product .." required>
                  <button type="submit">Search</button>
              </form>
          </div>
      </div>
  </div>

  <div id="modal" class="modal">
    <div class="content flexcol">
        <div class="image object-cover">
            <img src="/assets/img/products/apparel4.jpg" alt="">
        </div>
        <h2>Get the latest deals and coupons</h2>
        <p class="mobile-hide">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus modi unde veniam repudiandae reiciendis eveniet quia mollitia porro facilis velit esse, at, maiores architecto, labore doloremque ea iure sit ratione
        </p>
        <form action="" class="search">
            <span class="icon-largr"><i class="ri-mail-line"></i></span>
            <input type="mail" placeholder="Your email address">
            <button>Subscribe</button>
        </form>
        <a href="#" class="mini-text">Do not show me this again</a>
        <a href="#" class="t-close modalclose flexcenter">
            <i class="ri-close-line"></i>
        </a>
    </div>
 </div>

<div class="overlay"></div>





</div>

