        <!-- footer -->
    
        <footer>
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Join Our Newsletter</h3>
                                <p>Get Email updates about out latest shop and <strong>speacital offees</strong>  </p>
                            </div>
                            <form action="" class="search">
                                <span class="icon-large"><i class="ri-mail-line"></i></span>
                                <input type="mail" placeholder="Mail address ..." required>
                                <button type="submit">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Help & Contact</h4>
                                    <ul>
                                        <li><a href="#">Customer Support</a></li>
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="#">Shipping Information</a></li>
                                        <li><a href="#">Return & Refund Policy</a></li>
                                        <li><a href="#">Live Chat</a></li>
                                    </ul>
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Product Category</h4>
                                    <ul>
                                        <li><a href="#">Men's Shoes</a></li>
                                        <li><a href="#">Women's Shoes</a></li>
                                        <li><a href="#">Sports Shoes</a></li>
                                        <li><a href="#">Casual Shoes</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Payment info</h4>
                                    <ul>
                                        <li><a href="#">Credit/Debit Cards</a></li>
                                        <li><a href="#">PayPal</a></li>
                                        <li><a href="#">Bank Transfer</a></li>
                                        <li><a href="#">Cash on Delivery</a></li>
                                        <li><a href="#">Gift Cards</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>About Us</h4>
                                    <ul>
                                        <li><a href="#">Our Story</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Sustainability</a></li>
                                        <li><a href="#">Customer Reviews</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo"><a href="#"><span class="circle"></span>.Store</a></div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                    <li><a href="#"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text">© 2025 .Store. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    
        <div class="menu-bottom dektop-hide">
            <div class="container">
                <div class="wrapper">
                    <nav>
                        <ul class="flexitem">
                            <li>
                                <a href="#">
                                    <i class="ri-bar-chart-line"></i>
                                    <span>Trending</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-user-6-line"></i>
                                    <span>Account</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-heart-line"></i>
                                    <span>Wishlist</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-search">
                                    <i class="ri-search-line"></i>
                                    <span>Search</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-shopping-cart-line"></i>
                                    <span>Cart</span>
                                    <div class="fly-item">
                                        <span class="item-number">0</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <form action="#" class="search">
                        <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                        <span class="icon-large"><i class="ri-search-line"></i></span>
                        <input type="search" placeholder="Search product .." required>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="overlay"></div>