<div class="slider">
    <div class="container">
        <div class="wrapper">
            <div class="myslider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/assets/img/slider/slider0.jpg" alt="">
                                <div class="text-content flexcol">
                                    <h4>Shoes faction</h4>
                                    <h2><span>Come and Get it </span> <br>Brand new shoes <span></span></h2>
                                    <a href="" class="primary-button">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/assets/img/slider/slider1.jpg" alt="">
                                <div class="text-content flexcol">
                                    <h4>Shoes faction</h4>
                                    <h2><span>Come and Get it </span> <br>Brand new shoes <span></span></h2>
                                    <a href="" class="primary-button">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="/assets/img/slider/slider2.jpg" alt="">
                                <div class="text-content flexcol">
                                    <h4>Shoes faction</h4>
                                    <h2><span>Come and Get it </span> <br>Brand new shoes <span></span></h2>
                                    <a href="" class="primary-button">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>