
<div class="single-category">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="holder">
                    <div class="row sidebar">
                        <div class="filter">
                            <div class="filter-block">
                                <h4>Category</h4>
                                <ul>
                                    <li  *ngFor="let c of categories">
                                        <input
                                        type="checkbox"
                                        [id]="'cat-' + c.id"
                                        [checked]="c.id === categoryId"
                                        (change)="onSelectCategory(c.id)"
                                      />
                                      <label [for]="'cat-' + c.id">
                                            <span class="checked"></span>
                                            <span>{{ c.name }}</span>
                                        </label>
                                        <!-- <span class="count">({{ c.productCount }})</span> -->
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-block products">
                                <h4>Color</h4>
                                <ul class="bycolor variant flexitem">
                                    <li>
                                        <input type="radio" name="color" id="cogred">
                                        <label for="cogred" class="circle"></label>
                                    </li>
                                    <li>
                                        <input type="radio" name="color" id="coblue">
                                                <label for="coblue" class="circle"></label>
                                    </li>

                                    <li>
                                        <input type="radio" name="color" id="cogreen">
                                        <label for="cogreen" class="circle"></label>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-block pricing">
                                <h4></h4>
                                <div class="byprice">
                                    <div class="range-track">
                                        <input type="range" value="25000" min="0" max="100000">
                                    </div>
                                    <div class="price-range">
                                        <span class="price-form">$50</span>
                                        <span class="price-to">$500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="row">
                            <div class="cat-head">
                                <div class="breadcrumb" >
                                    <ul class="flexitem">
                                        <li><a href="/">Home</a></li>
                                        <li>{{ categoryName }}</li>
                                    </ul>
                                </div>

                                <div class="page-title">
                                    <h1>{{ categoryName }}</h1>
                                </div>
                                <div class="cat-description">
                                    <p>Moo ta</p>
                                </div>
                                <div class="cat-navigation flexitem">
                                    <div class="item-filter destop-hide">
                                        <a href="#" class="filter-trigger label">
                                            <i class="ri-menu-2-line ri-2x"></i>
                                            <span>Filter</span>
                                        </a>
                                    </div>
                                    <div class="item-sortir">
                                        <div class="label">
                                            <span class="mobile-hide">Sort by default</span>
                                            <div class="destop-hide">Default</div>
                                            <i class="ri-arrow-down-s-line"></i>
                                        </div>
                                        <ul>
                                            <li>Default</li>
                                            <li>Product Name</li>
                                            <li>Price</li>
                                            <li>Brand</li>
                                        </ul>
                                    </div>
                                    <div class="item-perpage mobile-hide">
                                        <div class="label">Item 10 per page</div>
                                        <div class="desktop-hide">10</div>
                                    </div>
                                    <div class="item-options">
                                        <div class="label">
                                            <span class="mobile-hide">Show 10 per page</span>
                                            <div class="destop-hide">Default</div>
                                            <i class="ri-arrow-down-s-line"></i>
                                        </div>
                                        <ul>
                                            <li>10</li>
                                            <li>20</li>
                                            <li>30</li>
                                            <li>All</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products main flexwrap">
                            <div class="item" *ngFor="let p of products">
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a [routerLink]="['/product', p.id]">
                                            <img [src]="p.images[0]" [alt]="p.name" />
                                          </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href=""><i class="ri-heart-line"></i></a></li>
                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div *ngIf="p.productItems[0]?.discountPercent" class="discount circle flexcenter">
                                        <span>{{ p.productItems[0].discountPercent }}%</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <span class="mini-text">(2.343)</span>
                                    </div>
                                    <h3><a [routerLink]="['/product', p.id]">{{ p.name }}</a></h3>
                                    <div class="price">
                                        <span class="current"> {{ p.productItems[0].newPrice || p.productItems[0].price | currency:'VND':'symbol':'1.0-0' }}</span>
                                        <span *ngIf="p.productItems[0].discountPercent" class="normal mini-text">
                                            {{ p.productItems[0].price | currency:'VND':'symbol':'1.0-0' }}
                                          </span>
                                    </div>
                                    <div class="footer">
                                        <ul class="mini-text">
                                            <li>Polyester, cotton</li>
                                            <li>Polyester, cotton</li>
                                            <li>Polyester, cotton</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flexcenter load-more ">
                            <button class="secondary-button" (click)="loadMore()">Load more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>